body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container{
    width: 85%/*720px -> 85%*/;
    margin: 0 auto;
    background: #fff;
    min-width: 720px;
    max-width: 960px;
}

#marca{
    height: 100px;
    background: #9E9E9E;
    text-align: center;
    line-height: 100px;
}

#conteudo{
    width: 75% /*520px -> 74.28% */;
    float: right;
}

#conteudo-principal{
    width: 63%; /*320px -> 64%*/
    float: left;
}

#conteudo-secundario{
    width: 34%; /*180px -> 36%*/
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p{
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao{
    width: 23% /*180px -> 25.71%*/;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#navegacao li{
    list-style: none;
}

#navegacao li a{
    text-decoration: none;
}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}