body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container{
    width: 960px/*720px -> 85%*/;
    margin: 0 auto;
    background: #fff url(../img/coluna.png) repeat-y left top;
    min-width: 820px;
    max-width: 960px;
}

/* #imagem{
    width: 90%;
    overflow: hidden;
} */

#marca{
    width: 100%;
    height: 200px;
    background: #225992 url(../img/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

#conteudo{
    width: 75% /*520px -> 74.28% */;
    float: right;
}

#conteudo-principal{
    width: 63%; /*320px -> 64%*/
    float: left;
}

img.img-noticia{
    width: 94%;
    padding: 2%;
    max-width: 600px;
}

#conteudo-secundario{
    width: 34%; /*180px -> 36%*/
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p{
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao{
    width: 23% /*180px -> 25.71%*/;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background: #d1d1d1; */
}

#navegacao li{
    list-style: none;
}

#navegacao li a{
    text-decoration: none;
}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}